@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 90%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  margin-top: 80px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

input,
textarea {
  width: 100%;
  outline: 0;
  color: white;
  padding: 10px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid #01b9ff;
  font-size: 16px;
}

label {
  margin-left: 5px;
  font-size: 18px;
  color: #01b9ff;
  font-family: "Orbitron", sans-serif;
  padding-bottom: 10px;
}

.form > * {
  padding: 10px;
}

textarea {
  resize: none;
}

.form-button {
  border-radius: 30px;
  background-color: #0037ec;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  transition: 0.3s;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  min-width: 200px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button:hover {
  background-color: #002ec5;
}

.submitmessage {
  text-align: center;
  color: #1dddbc;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

.disclaimer-text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-top: 40px;
  width: 45%;
  text-align: center;
}

.disclaimer-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn-icon:hover {
  font-size: 16px;
}

.submit-btn-icon {
  transition: 0.2s;
}

.contact-col {
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 766px) {
  .contact-col {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: min-content !important;
  }
}

@media (max-width: 888px) {
  .disclaimer-text {
    width: 70%;
    text-align: left;
  }
}
