* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    --bs-gutter-x: 0rem !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0C0C0C;
    color: white;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: none; 
}
 
::-webkit-scrollbar-thumb {
  background: #999; 
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

